# Task 01 (Variables and DataTypes)

# Int

In [2]:
num = 5
print(num)
print(type(num))

<class 'int'>

# Float

In [3]:
num = 9.5
print(num)
print(type(num))

9.5
<class 'float'>

# String

In [4]:
name = "Hafsa"
print(name)
print(type(name))

Hafsa
<class 'str'>

In [5]:
names = ["Ali" , "Sara" , "Kaf"]
print(names)
print(type(names))

['Ali', 'Sara', 'Kaf']
<class 'list'>

# Task 02 (Conditionals)

In [13]:
num = int(input("Enter a number "))
if (num==0):
    print("Zero")
elif (num>0):
    print("Entered number is Positive")
elif (num<0):
    print("Entered number is Negative")

Enter a number -5
Entered number is Negative

# Task 03 (Loops)

# Printing first 10 Natural Numbers

In [30]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Factorial

In [31]:
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i  

print("Factorial of", num, "is", factorial)

Enter a number: 5
Factorial of 5 is 120

# Task 04 (Functions)

In [29]:
def greet(name):
    print("Hello,", name + "!")

def is_even(num):
    return num % 2 == 0   

greet("Hafsa")
print(is_even(50))   
print(is_even(2965))

Hello, Hafsa!
True
False

# Task 05 (List Operations)

In [17]:
numbers = [5 , 8 , 10 , 89 , 100]
print(numbers)

[5, 8, 10, 89, 100]

In [18]:
print(min(numbers))

5

In [19]:
print(max(numbers))

100

In [25]:
a = print(sum(numbers))

212

In [24]:
b = print(len(numbers))

5

In [28]:
a = 212
b = 5
average = a/b
print(average)

42.4

# Task 06 (Input/Output)

In [16]:
user_name = input("Enter your name")
user_age = (input("Enter your age"))
print("Hello " + user_name + " You are " + user_age + " years old")

Enter your nameHafsa
Enter your age50
Hello Hafsa You are 50 years old